@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Montserrat:wght@300&family=Ms+Madi&family=Quattrocento+Sans&family=Satisfy&display=swap');

body {
    font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 4rem;
}

/* Navigation Bar */

.navbar {
    padding: 0.5rem;
}

.bg-light {
    background-color: #fafafa!important;
}

.navbar-light .navbar-nav .nav-link {
    color: rgba(0,0,0, 1);
}

/* Callout Container */
.callout-container {
    height: 100vh;
    background: url(../images/sophie2.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
}

/* Jumbotron */

.jumbotron {
    background-color: transparent;
    margin-left: 100px;
}

.jumbotron-header {
    color: white;
    font-weight: 400;
    letter-spacing: 0.2em;
    text-align: right;
    margin-right: 2rem;
    margin-bottom: 0;
}

.surname {
    font-family: 'Ms Madi', cursive;
    font-size: 3rem;
    color: #f16d6d;
    text-align: right;
    margin-right: 2rem;
    padding-right: inherit;
}

.jumbotron-text {
    font-size: 1.2rem;
    font-style: italic;
    color: #f8f9fa;
}

.blockquote {
    margin-right: 2rem;
}

/* Buttons */

.btn-primary {
    color: #fff;
    background-color: #133049;
    border-color: black;
    /* width: 140px; */
    border-radius: 23px;
    margin: 3px 0;
}

.btn-lg {
    color: #fff;
    background-color: #133049;
    border-color: black;
    border-radius: 23px;
}

.fund-btn {
    display: flex;
    justify-content: center;
}

/* Table */

.table-light, .table-light>td, .table-light>th {
    background-color: #e9ecef;
}

/* gallery */

#gallery {
    clear: both;
    line-height: 0;
    column-count: 2;
    column-gap: 0;
}

#gallery > img {
    width: 100%;
}

.footer-container {
    background-color: #fafafa!important;
    box-sizing: content-box;
}

/* Bio */

.gap100 {
    padding: 70px 0px;
}

.img-bio {
    height: 300px;
    width: 300px;
}

/* My Music */

.music-container p {
    margin-top: 9px;
}

.img-thumbnail {
    margin: 10px 0;
}

.audio-btn {
    height: 49px;
    width: 49px;
    border-radius: 50%;
    border-color: white;
    border: transparent;
    font-size: 2.3rem;
    margin: 0px;
    padding: 0px;
    background-color: #ffffff72;
    text-align: center;
    vertical-align: middle;
    color: #000000;
}

.audio-btn:hover {
    color: #2f3cf1;
    transition: transform 150ms;
    transform: scale(1.05);
}


.far fa-play-circle {
    padding-right: 15px;
    padding-bottom: 15px;
}

.far fa-pause-circle {
    padding-right: 15px;
    padding-bottom: 15px;
}


.hide {
    display: none;
}

/* Footer */

h5 {
    font-weight: bold;
}

.social-links {
    padding-bottom: 15px;
}

#wide-signature {
    font-size: x-small;
}

#mobile-signature {
    font-size: x-small;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a i:hover {
    background: #2f3cf1;
}

/* Media Queries */

/* for small screen size from 767px wide and down */
@media screen and (max-width: 767px) {
    #wide-footer {
        display: none;
    }

    #wide-table {
        display: none;
    }

}


/* for medium tablet screen size from 768px wide and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-left: 500px;
    }

    #gallery {
        column-count: 2;
    }

    #small-footer {
        display: none;
    }

    #mobile-table {
        display: none;
    }
}

/* for large tablet screen size from 992px wide and up */
@media screen and (min-width: 992px) {
    #gallery {
        column-count: 3;
    }
}
