@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Ms+Madi&family=Quattrocento+Sans&family=Satisfy&display=swap');

body {
    font-family: 'Quattrocento Sans', sans-serif;
}

h1 {
    font-family: 'Ms Madi', cursive;
}

.callout-container {
    height: 100vh;
    background: url(../images/sophie.jpg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

}

.crowfunding-container {}

.photo-container {}

.about-container {}

.schedule-container {}

.footer-container {}